@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&family=Roboto&display=swap');

:root{
    --header-color: #D04F4F;
    --background-primary: #E7E7E7;
    --text-color-primary: #000000;
    --text-color-secondary: #FFFFFF;
    --ingredient-color: #3282F7;
    --devices-color: #68D9A4;
    --utensils-color: #ED6454;
    --background-recipe-image: #C7BEBE;
    --dropdown-size-open: 666px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body{
    padding: 0px 100px;
}

header{
    padding: 42px;
    flex-direction: column;
    justify-content: center;
}
header h1{
    color: var(--header-color);
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
}

main{
    width: 1240px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}



.recipe-form,
.tags,
.wrapper-recipe{
    border-radius: 5px;
}

.recipe-form::placeholder,
.wrapper-recipe{
    font-size: 18px;
}

header,
.tag-1,
.dropdowns{
    display: flex;
    align-items: center;
}


.recipe-form,
.filters,
.wrapper-drowpdown{
    width: 100%;
    height: 69px;
}

/* Barre de recherche de recette */
form{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.recipe-form{
    background-color: var(--background-primary);
    border: none;
    padding: 23px;
    background-image: url('../assets/images/icon-search.svg');
    background-position: 98% 50%;
    background-repeat: no-repeat;
    font-size: 18px;
}

.search-icon{
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
}

/* Tags */

.tags{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    margin-top: 25px;
    margin-bottom: 15px;
}

.tag{
    display: flex;
    align-items: center;
    height: 37px;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: var(--ingredient-color);
    color: var(--text-color-secondary);
    padding: 5px;
}

.tag-close-icon{
    cursor: pointer;
}

.tag span{
    overflow: hidden;
    padding: 5px;
}

.tag-ingredient{
    background-color: var(--ingredient-color);
}

.tag-devices{
    background-color: var(--devices-color);
}

.tag-ustensils{
    background-color: var(--devices-color);
}

/* Dropdowns */

.dropdowns{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 4;
    gap: 2rem;
    width: 100%;
}

.filters{
    width: auto;
    max-width: var(--dropdown-size-open);
}

.wrapper-dropdown{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: var(--ingredient-color);
    width: 170px;
    height: 69px;
    border-radius: 5px;
    line-height: 23px;
    appearance: none;
    cursor: pointer;
    align-items: center;
}

.wrapper-dropdown button{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background: none;
    color:hsl(0, 0%, 100%);
    font-size: 18px;
    text-align: left;
    padding: 23px;
    cursor: pointer;
}

.wrapper-dropdown .dropdown-input{
    position: relative;
    background-color: inherit;
    color: var(--text-color-secondary);
    display: none;
    width: 75%;
    height: 30px;
    border: none;
    text-align: left;
    left: 19px;
    border-radius: 5px;
    font-size: 18px;
}

.wrapper-dropdown .dropdown-input::placeholder{
    color: hsl(0, 0%, 85%);
}

.wrapper-dropdown .dropdown-input:focus{
    outline: none;
}

.wrapper-dropdown img{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 16px;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-bottom : 16px;
    max-height: 350px;
    overflow: scroll;
    width: 100%;
}

.dropdown-not-clicked{
    z-index: -1;
}

.dropdown-clicked{
    z-index: 1;
}

.wrapper-dropdown .dropdown-ingredients,
.tag-ingredients{
    background: var(--ingredient-color);
}

.wrapper-dropdown li{
    color: var(--text-color-secondary);
    padding: 5px 10px 5px 0px;
    padding-left: 10px;
    width: 100%;
}

.wrapper-dropdown .dropdown-added-tag{
    display: none;
}

.wrapper-dropdown .dropdown-hide{
    display: none;
}

.wrapper-dropdown-open{
    border-radius: 5px 5px 0px 0px;
    width: var(--dropdown-size-open);
}

.wrapper-dropdown-open img{
    transform: rotate(180deg);
}

.wrapper-dropdown-open button{
    display: none;
}

.wrapper-dropdown-open .dropdown-input{
    display: block;
}

.wrapper-dropdown-open .dropdown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper-devices,
.wrapper-dropdown .dropdown-devices,
.tag-devices{
    background-color: var(--devices-color);
}

.wrapper-ustensils,
.wrapper-dropdown .dropdown-ustensils,
.tag-ustensils{
    background-color: var(--utensils-color);
}



/* Error message */
.recipe-error{
    margin: 8rem;
    color: var(--header-color);
}
.recipe-display-error{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    color: var(--header-color);
}

/* Recipe card */
.recipe-display{
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: center;
    gap: 50px 50px;

}

.card{
    background-color: var(--background-recipe-image);
    width: 380px;
    height: 364px;
    border-radius: 5px 5px 5px 5px;
}

.card-img{
    height: 50%;
}

.card-desc{
    height: 50%;
    padding: 20px 18px 20px 20px;
    background-color: var(--background-primary);
    font-size: 12px;
}

.card-title{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
}

.card-recipeName{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
}

.card-time{
    display: flex;
    gap: 7px;
    width: 30%;
    justify-content: flex-end;
}

.card-ingredient-recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    gap: 25px;
    height: 80%;
}

.card-ingredient-recipe div {
    width: 50%;
}

.card-ingredient-block{
    max-width: 171px;
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
}

.card-description{
    font-family: 'Roboto', sans-serif;
}

.card-description p{
    overflow: hidden;
    text-overflow: none;
}

@media screen and (max-width: 1437px){
    body{
        padding: 0px 7%;
    }
    main{
        width: 100%;
    }
    .recipe-display{
        justify-content: center;
        grid-template-columns: min-content auto;
        /* column-gap: 4.1%; */
    }

}

@media screen and (max-width: 920px){
    .recipe-display{
        grid-template-columns: 1fr;
        justify-content: center;
        column-gap: 0;
        margin-left: 50%;
        margin-right: 50%;
    }
}

@media screen and (max-width: 772px){
    .wrapper-dropdown-open{
        width: 86vw;
    }
    .dropdown{
        width: 86vw;
    }
}
    
@media screen and (max-width: 660px){
    .dropdowns{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 440px){
    .wrapper-dropdown-open .dropdown{
        grid-template-columns: 1fr 1fr;
    }
    .recipe-display{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 86vw;
    }
    .card-description{
        overflow-block: hidden;
    }
}

@media screen and (max-width: 408px){
    header{
        padding: 20px;
    }
    header h1{
        font-size: 30px;
    }
    .dropdowns{
        flex-direction: column;
    }

}

@media screen and (max-width: 290px){
    .wrapper-dropdown-open .dropdown{
        grid-template-columns: 1fr;
    }
}